
/autom4te.cache
*.log
*.status
*.o
*.so
*.dll
*.gen.*
*lib.c
Makefile
test.scm
TODO.txt

/aclocal.m4
/configure
/cairolib.c
/gauche-cairo.gpd
/Makefile
/VERSION
/out/scm
/out/dll
/out/header
/out/README
/out/LICENSE

/lib/cairo.scm
/lib/cairo/rsvg.scm
